@{
    ViewData["Title"] = "Home Page";
}

<div ng-app="posSystemApp">
    <div ng-controller="productCtrl">
        <div class="text-center">
            <h1 class="display-4">Welcome {{firstName + " " + lastName}}</h1>
            <span ng-bind="firstName"></span>
            <span ng-bind="lastName"></span>
        </div>
        <div ng-controller="myController">
            {{message}}
            </br>
            <table>
                <tr><td>First Name</td>
                    <td>
                        <input type="text" ng-model="employee.firstName" />
                    </td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td>
                        <input type="text" ng-model="employee.lastName" />
                    </td>
                </tr>
                <tr><td>Gender</td>
                    <td>
                        <input type="text" ng-model="employee.gender" />
                    </td>
                </tr>
            </table>
            <div>
                First Name :{{employee.firstName}}
            </div>
            <div>
                Last Name :{{employee.lastName}}
            </div>
            <div>
                Gender :{{employee.gender}}
            </div>
            <input type="text" ng-model="mssg" />
            </br></br>
            {{mssg}}
        </div>
        
    </div>
    <div ng-controller="Table">
        <table>
            <thead>
                <tr>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Gender</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in employeeList">
                    <td>{{employee.firstName}}</td>
                    <td>{{employee.LastName}}</td>
                    <td>{{employee.gender}}</td>
                    <td>{{employee.salary}}</td>

                </tr>
            </tbody>
        </table>
    </div></br></br>

    <div ng-controller="Table">
        <ul>
            <li ng-repeat="country in countryList" ng-init="parentIndex=$index">
                {{country.name}} - Index = {{$index}}
                <ul>
                    <li ng-repeat="city in country.cities">
                        {{city.name}} - Parent Index={{parentIndex}}, Index = {{$index}}
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div ng-controller="Table">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Likes</th>
                    <th>Dislikes</th>
                    <th>Likes/Dislikes</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="technology in technologyList">
                    <td>{{technology.name}}</td>
                    <td>{{technology.like}}</td>
                    <td>{{technology.dislike}}</td>
                    <td>
                        <input type="button" value="Like" ng-click="incrementLikes(technology)" />
                        <input type="button" value="Dislike" ng-click="incrementDislikes(technology)" />
                        <input type="button" value="Unlike" ng-click="decrementLikes(technology)" />
                        <input type="button" value="Undislike" ng-click="decrementDislikes(technology)" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-controller="Table">
        Rows to Display :<input type="number" step="1" min="0" max="5" ng-model="rowlimit" />
        Order By : <select ng-model="sortColumn">
            <option value="name">Name ASC</option>
            <option value="name">Gender ASC</option>
            <option value="name">Date Of Birth ASC</option>
            <option value="name">Salary DESC</option>

        </select>
        Search:<input type="text" placeholder="Search student" ng-model="searchText" />
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date of Birth</th>
                    <th>Gender</th>
                    <th>Salary</th>
                    @*<th>Name</th>*@
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="student in studentList |limitTo:rowlimit |orderBy:sortColumn |filter:searchText">
                    <td>{{student.name| uppercase}}</td>
                    <td>{{student.dateOfBirth|date:"dd/MM/yyyy"}}</td>
                    <td>{{student.gender| lowercase }}</td>
                    <td>{{student.salary|currency:"$"}}</td>
                    @* <td>{{studentList.Gender}}</td> *@
                    @* <td>
                        <input type="button" value="Like" ng-click="incrementLikes(technology)" />
                        <input type="button" value="Dislike" ng-click="incrementDislikes(technology)" />
                        <input type="button" value="Unlike" ng-click="decrementLikes(technology)" />
                        <input type="button" value="Undislike" ng-click="decrementDislikes(technology)" />
                    </td> *@

                </tr>
            </tbody>
        </table>

    </div>

</div>
<link href="~/css/table.css" rel="stylesheet" />

